body {
    background: linear-gradient(135deg, #8a6d43, #b9933f);
}

.card-container {
    width: 350px;
    height: 450px;
    border: 1px solid red;
    margin: 5rem auto;
    background-color: blanchedalmond;
}

.top-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid darkslategray;
}
.top-left {
    display: flex;
    align-items: center;
}
h3 {
   margin: 0;
   padding: 5px;
}

.top-left img {
    width: 20px;
    height: 20px;
    padding: 5px ;
}

.top-right  {
    padding: 7px;
}

.img-card img {
    width: 350px;
}

.icons {
    display: flex;
    justify-content: space-between;
}
.icons-left i {
    padding: 3px;
}

.icon-right {
    padding: 3px;
}

.like p {
    font-size: .8rem;
}

.comment p {
   font-size: .8rem;
   padding: 0 0 3px 3px;
}